.form_container {
  display: flex;
  justify-content: center;
}

.form {
  width: 340px;
  height: 440px;
  background: #003566;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #003566;
  margin: calc(50vh - 400px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);

}

.field_container {
  margin-top: 5px;
}

.contact_button{
  background-color: #FFC300;
  margin-top: 20px;
  color: #003566;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
  color: #FFC300;
}

input:focus {
  border-bottom: 2px solid #78788c;
}

textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
  color: #FFC300;
}

textarea:focus {
  border-bottom: 2px solid #78788c;
}

label{
  color: white;
}
