@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Quicksand:wght@500&display=swap');

.login div {
  font-family: 'Quicksand', sans-serif;
	background-color: #003566;
	color: white;
}


.labels {
	color: white;
}

.mainDiv {
	font-family: 'Quicksand', sans-serif;
}

.loginButton {
	background-color: #FFC300;
}

.titleMessage {
	font-family: 'Quicksand', sans-serif;
}