@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Quicksand:wght@500&display=swap');

.profiles div {
  font-family: 'Quicksand', sans-serif;
	background-color: #003566;
	color: white;
}


.profiles p {
	color: white;
}

.profiles h4 {
	color: white;
	padding-bottom: 10px;
}

.saveButton {
	background-color: #FFC300;
	border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  cursor: pointer;
	width: 80px;
}

.cancelButton {
	border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  cursor: pointer;
	width: 80px;
}